.name-design{
    padding-bottom: 10px;
    font-size:0.9em;
    letter-spacing: 0.35px;
    color: #262626;
}
.home-container{
    font-family: 'Open Sans', sans-serif;
    width:95%;
    margin: auto;
}
.profile
{
    font-family: 'Open Sans', sans-serif;
    width:70%;
    margin:10px auto;
    display:flex;
    justify-content: flex-end;
    padding-bottom:"5px";
    border-bottom:"1px solid black";
    font-weight: bold;
}
.divider{
    border-bottom:1px solid lightgray
}

.my-cart
{
    margin-left: 20px;
    width:14%;
    display: flex;
    justify-content: space-around;
    
}
.bar-menu
{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.iShop
{
    text-align: center;
    font-size: 2.5rem;
    color:rgb(248, 53, 92);
    font-weight:900;
    margin-bottom: 8px;
    margin: top 10px
}
.navbar
{
    margin:auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width:90%;
    padding-bottom: 15px;
    position: relative;
}
.container-menu
{
    width:80%;
    margin:auto
}
.main-menu
{
    cursor: pointer;
    font-size:1rem;
    font-weight: bold;
    
}
.menu
{
    display: none;
}
.menu-display
{
font-weight:500;
 display: flex;
 flex-wrap: wrap;
 position: absolute;
 left:0;
 width:100%;
 justify-content: space-between;
 padding-top: 20px;
 margin-top: 10px;
 background-color: white;
border-top:1px solid rgb(219, 219, 219);
border-radius: 2px;
}
.sub-menu
{
    width:30%;
    color: rgb(7, 7, 7);
}
.sub-sub-menu
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    color:black;
}
.inside-sub-sub-menu
{
    width:45%
}
.category
{
    padding:15px 25px
}
.content
{
    padding:15px 25px
}

.main-image
{
    background-image: url("./Images/best-iphone-wallpaper-apps.jpg");
    background-size:100% 100%;
    background-repeat: no-repeat;
}
.best-seller
{
    display: flex;
    justify-content: space-between;
    width:30%;
    margin:auto;
    font-family:'Montserrat', sans-serif;
    font-weight: bold;
    margin-bottom: 10px;
}
.best-seller2{
    display: none;
}
.checkid
{
    cursor: pointer;
}
.best-item-container
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width:80%;
    margin: auto;
 
}
.best-item
{
    position: relative;
    width: 20%;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
    margin-bottom: 15px;
    text-align: center;
    border: 2px solid rgb(243, 239, 239);
    border-radius: 5px;
}
.best-item:hover
{   
    box-shadow: -6px 6px 10px 3px rgb(77, 77, 77);
    opacity: 0.5;
}
.hot{
    position: absolute;
    top:5px;
    left:5px;
    background-color: rgb(240, 44, 83);
    color:white;
    padding:5px;
    border-radius: 2px;
    font-size: 0.8rem;
}
.cart-hover
{
    position: absolute;
    top:35%;
    left:35%;
    visibility: hidden;
    opacity: 1;
    
}
.best-item:hover .cart-hover
{
    visibility: visible;
    font-size:1.7rem;
    opacity: 1;
}
.icon-hover1:hover
{
    color: red;
    opacity: 1;
}
.icon-hover2:hover
{
    color:blue;
    opacity: 1;
}
.cover-image
{
    background-image: url("./Images/best-iphone-wallpaper-apps.jpg");
    background-size:100% 100%;
    background-repeat: no-repeat;
}
.iPhone
    {
        font-size:3.5rem;
        padding:50px 20px 10px;
        margin-top:20px;
        margin-bottom:20px;
        color:white;
        font-weight:lighter
    }
    .performance
    {
        width:40%;
        font-size:2rem;
        padding:0px 20px;
        margin-top:10px;
        margin-bottom:20px;
        color:white
    }
.shop-now
{
    margin-left:20px;
    font-size:1rem;
    padding-top:20px;
    padding-bottom:5px;
    border-bottom:2px solid white;
    font-weight:900;
    display:inline-block;
    margin-bottom:20px;
    color:white
}
.shipping
{
    margin:90px 0px;
    display: flex;
    justify-content: space-between;
}
.inside-shipping
{
    width:30%;
    text-align: center;
}
.logo
{
    text-align: center;
    margin-bottom:20px ;
    color:rgb(236, 60, 95)
}
.para
{
    font-size: 1.2rem;
    font-weight: bold;
}
.para-content
{
    margin:20px 0px;
    font-size: 0.8rem;
}
.featured-pro
{
    font-size:2rem;
    font-weight:bolder;
    text-align:center;
    margin:20px 0px
}
.featured-container
{
    display: flex;
    width:80%;
    margin: auto;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 120px;
    margin-bottom:20px
    
}
.inside-featured-container{
   text-align: center;
}
.featured-products
{
    display: flex;
    width:70%;
    justify-content: space-between;
}
.featured-item
{
    display: flex;
    width: 30%;
    margin-top:20px;
}
.featured-item:hover{
    box-shadow: -6px 6px 10px 3px rgb(77, 77, 77);
    padding-top: 10px;
    border-radius: 5px;
}
.featured-container2{
    display: none;
}
.second-last
{
    display: flex;
    justify-content: space-between;
    margin:50px 0px;
    width:70%;
    margin-left:10%;
    margin-top:40px
}
.inside-second-last
{
    width:30%
}
.last{
    display: flex;
    justify-content: space-between;
    margin-top:40px;
    width:80%;
    margin-left:10%;
}
.inside-last
{
    font-size: 1.2rem;
    font-weight: bold;
    padding:15px 0px;
    
}

.items
{
    font-size: 0.8rem;
    padding-top: 7px;
}

@media all and (max-width:700px)
{
    .home-container
    {
        width:100%;
    }
    .profile
    {
        display: none;
    }
    .container-menu
    {
        display: none;
    }
    .container-menu-change
    {
        display: block;
    }
    .navbar{
        display: block;
    }
    .menu-display
    {
        display: block;
        position:inherit;
    }
    
    .sub-menu
    {
        width: 100%;
    }
    .sub-sub-menu
    {
        display: flex;
        flex-direction: column;
    }
    .inside-sub-sub-menu
    {
        width: 100%;
    }
    .sub-sub-menu-not-display
    {
        display: none;
    }
    .sub-sub-menu-display
    {
        display: flex;
        flex-direction: column;
    }
    .main-image
    {
        height: 500px;
    }
    .best-seller
    {
        display: none;
    }
    .best-seller2
    {
        display: block;
        width: 80%;
        text-align: center;
        font-weight: bold;
        margin:auto;
        padding:10px 0px;
        margin-bottom: 10px;
        background-color: rgb(247, 244, 244);
    }
    select
    {
        outline: none;
        width:50%;
        border:0px;
        font-size: 1rem;
        font-weight:500;
    }
    .best-item-container
    {
        margin-top:20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .best-item
    {
        width:80%;
    }
    .load
    {
        display: none;
    }
    .iPhone
    {
        font-size:2.5rem;
    }
    .performance
    {
        width:70%;
    }
    .shop-now
    {
        margin-left:50px
    }
    .shipping
    {
        flex-direction: column;
        align-items: center;
    }
    .inside-shipping
    {
        width:80%;
        margin: 10px 0px;
    }
    .featured-pro
    {
        font-size:1.5rem;
        width:80%;
        margin: auto;
    }
    .featured-container
    {
        display: none;
    }
    .second-last
    {
        display: none;
    }
    .last
    {
        display: none;
    }
    .divider{
        display: none;
    }
    .featured-container2
    {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .featured-products{
        justify-content: center;
        
    }
    
    .featured-item
    {
        width:80%;
        border:1px solid rgb(216, 215, 215);
        border-radius: 5px;
        padding:5px 0px
    }
}
